.contents{
  display: flex;
  padding: 0;
  height: calc(100vh - 220px);
  overflow: hidden;
}
.cntLeft{
  width: 240px;
  height: 100%;
  :global{
    .ant-tree li .ant-tree-node-content-wrapper{
      vertical-align: middle;
    }
  }
}
.cntRight{
  flex: 1;
  padding: 24px 32px;
  :global(.ant-select-selection--multiple) {
    max-height: 32px;
    overflow: hidden;
  }
  :global{
    .ant-form-item-control{
      line-height: 32px;
    }
    .ant-form-item-label{
      line-height: 32px;
    }
  }
}
.leftHead{
  display: flex;
  margin: 24px 24px 8px 24px;
}
.toolTips{
  background: #fff;
  width: 600px;
  :global{
    .ant-tooltip-arrow{
      color: #fff;
    }
    .ant-popover-inner-content{
      background: #fff;
      padding: 12px;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      height: 36px;
      padding: 5px;
    }
  }
}
.treeSelects{
  padding: 0px 24px;
  overflow: scroll;
  height: calc(100vh - 320px);
  :global{
    .ant-tree li{
      padding: 0!important;
    }
  }
}
