.selP{
  img{
    width: 24px;
    margin-right: 8px;
  }
}
.tableForm{
  display: flex;
  height: 32px;
  align-items: center;
  :global{
    .ant-form-item{
      margin-bottom: 0;
    }

  }
}
.tableList{
  border: 1px solid #e8e8e8;
  border-right: none;
  border-bottom: none;
  :global{
    .ant-table-tbody > tr > td{
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
    }
    .ant-table-thead > tr > th{
      border-bottom: none;
    }
    .ant-table-thead > tr > th:last-child{
      border-right: 1px solid #e8e8e8;
    }
    .ant-table-tbody > tr{
      border-bottom: 1px solid #e8e8e8;
    }
    .ant-table-tbody > tr > td:last-child{
      // border-bottom: none;
      // border-right: none;
    }
    .ant-table-tbody{
      border-top: 1px solid #e8e8e8;
    }
  }
}
.popovers{
  :global{
    .ant-popover-inner-content{
      width: 280px;
      height: 316px;
    }
    .ant-checkbox-wrapper{
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  .checkGroup{
    height: 268px;
    overflow-y: scroll;
    :global{
      .ant-checkbox-group{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .btnName{
    display: flex;
    margin-left: 140px;
    font-size: 12px;
    .btn{
      width: 50px;
      height: 24px;
      background: #fff;
      color: rgba(0,0,0,0.65);
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
      margin-left: 8px;
      border: 1px solid #dedede;
    }
  }
  .btns{
    width: 50px;
    height: 24px;
    background: #00C795;
    color: #fff;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 8px;
  }
}
.popTitle{
  display: flex;
}
.popImg{
  img{
    width: 360px;
  }
  :global{
    .ant-popover-inner-content{
      padding: 0px;
    }
    .ant-popover-arrow{
      display: none;
    }
  }
}
