:global {
  .ant-menu-inline-collapsed > {
    .ant-menu-item .iconfont + span,
    .ant-menu-submenu > .ant-menu-submenu-title .iconfont + span,
    .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .iconfont + span,
    .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .iconfont + span {
      display: inline-block;
      max-width: 0;
      opacity: 0;
    }
  }
}
.sider > :global(.ant-layout-sider-children) {
  display: flex;
  flex-direction: column;
}
.logo {
  padding-left: 40px;
  height: 79px;
  padding-top: 24px;
  // line-height: 54px;
  color: #fff;
  background: #002140;
  overflow: hidden;
  .img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 32px;
    background: url(@/assets/img/logo.png) no-repeat;
    background-size: contain;
  }
  h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 12px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
}
