:global {
  .ant-menu-inline-collapsed > {
    .ant-menu-item .iconfont + span,
    .ant-menu-submenu > .ant-menu-submenu-title .iconfont + span,
    .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .iconfont + span,
    .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .iconfont + span {
      display: inline-block;
      max-width: 0;
      opacity: 0;
    }
  }
}
.sider > :global(.ant-layout-sider-children) {
  display: flex;
  flex-direction: column;
  box-shadow:2px 0px 6px 0px rgba(0,21,41,0.35);
  position: relative;
  z-index: 100;
}

.logo {
  position: relative;
  // padding-left: 40px;
  height: 79px;
  // padding-top: 24px;
  line-height: 79px;
  color: #fff;
  background:rgba(37, 40, 52, 1);
  overflow: hidden;
  text-align: center;
  .logoContainer {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 116px;
     height: 40px;
     .newLogo,.logoFont{
     vertical-align:top;
     display: inline-block;
     height: 40px;
      width: 40px;
    }
    .newLogo{
      width: 40px;
      background: url(@/assets/img/newLogo.png) no-repeat;
      background-size: cover;
      // background-position:0 4px;
    }
    .logoFont{
      margin-left: 4px;
      width: 72px;
      background: url(@/assets/img/logoFont.png) no-repeat;
      background-size: cover;
    }
  }
  h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 12px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
}
.footerSider{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px;
}
.lines{
  width:131px;
  height:1px;
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 16px;
}
.bottom32{
  margin-bottom:24px;
}
.footBtn{
  width: 100%;
  background: rgba(37, 40, 52, 1);
  color: rgba(255, 203, 55, 1);
  font-size: 14px;
  border:1px solid rgba(250, 202, 79, 1);
}
.footBtn:hover{
  background: rgba(250, 202, 79, 1);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(250, 202, 79, 1);
}
.footBtn:focus{
  background: rgba(250, 202, 79, 1);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(250, 202, 79, 1);
}
.sider > :global(.ant-menu-item-selected span) {
  font-weight: bold;
}
.corner{
  // width: 24px;
  height: 16px;
  background: #FF5A5F;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  display: inline-block;
  line-height: 14px;
  text-align: center;
  margin-left: 12px;
}
.sider{
  position: relative;
  background:rgba(37, 40, 52, 1);
  .trigger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:-12px;
    width: 12px;
    height: 66px;
    box-sizing: border-box;
    img{
      width: 100%;
      height: 100%;
    }
}
  :global{
    .app-menu .ant-menu-submenu .ant-menu-submenu-popup .ant-menu-sub{
      background-color: #001529!important;
      min-width: 132px;
      padding: 10px 0;
    }
  }
}

.menuStyle{
  :global{
    // .ant-menu-sub{
    //   background: #fff;
    // }

  }
}
