.payContent{
  min-height: 500px;
  padding: 24px 32px;

  :global(.cnt-header .head_lf) {
    display: flex;
  }
  :global(.cnt-header .head_rg) {
    display: flex;
  }
  :global(.ant-form-item) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .acctive-bg{
    background: rgba(0, 199, 149, 0.12);
  }
}

.message{
  width: 100%;
  padding: 10px 16px;
  background: rgba(0, 199, 149, 0.08);
  border: 1px solid rgba(0, 199, 149, 0.15);
  border-radius: 4px;
  margin-bottom: 12px;
  span{
    line-height: 1;
  }
}
