.costMoney{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.images{
  width: 36px;
  height: 36px;
}
.imgUrlTable{
  display: flex;
  align-items: center;
  // overflow-x: scroll;
}
.imgScroll{
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

