.travel{
  height: calc(100vh - 250px);
  overflow-y: scroll;
  :global{
    .ant-steps-item-icon{
      width: 28px;
      height: 28px;
      line-height: 28px;
    }
    .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail{
      padding: 28px 0 0px;
    }
    .ant-tag{
      padding: 0 8px;
    }
  }
}
.first{
  margin-bottom: 60px;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
}
.popStyle{
  width: 384px;
  height: 530px;
  background: #FFFFFF;
  // box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 0;
  :global{
    .ant-popover-message{
      height: 319px;
      overflow-y: scroll;
      padding: 10px;
      border-bottom: 1px solid rgba(233, 233, 233, 1);
    }
    .ant-popover-message-title{
      padding-left: 0;
    }
    .ant-tree-treenode-switcher-close{
      display: flex;
    }
    .ant-tree li .ant-tree-node-content-wrapper{
      flex: 1;
    }
    .ant-popover-inner-content{
      padding: 0;
    }
    .ant-popover-buttons{
      padding: 8px;
    }
    .ant-tree-node-selected{
      position: relative;
    }
    .ant-tree-node-selected::after{
      content: '\e6d6';
      font-family: "iconfont";
      position: absolute;
      right: 8px;
      top: 2px;
      color: #00c795;
      font-size: 20px;
    }
    .ant-popover-title{
      padding: 0;
      height: 360px;
      overflow: scroll;
    }

    // .ant-tree li{
    //   display: flex;
    // }
    // .ant-tree li .ant-tree-node-content-wrapper{
    //   flex: 1;
    // }
  }

}
.tooltips{
  :global{
    .ant-tooltip-inner{
      background-color: #FFFFFF;
    }
    .ant-tooltip-arrow::before{
      background-color: #FFFFFF;
    }
  }
}
.qrCode{
  width:143px;
  height:143px;
}
.footers{
  height: 40px;
  border-top: 1px solid rgba(233, 233, 233, 1);
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background: #FFFFFF;
  text-align: right;
}
.footCont{
  display: flex;
  margin-right: 16px;
  margin-top: 8px;
  margin-left: 16px;
  justify-content: space-between;
  span{
    font-size: 12px;
    font-weight: 400;
    color: #FF5A5F;
    line-height: 24px;
    margin-right: 10px;
  }
  .footerBtns{
    width: 46px;
    height: 24px;
    background: #00C795;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    cursor: pointer;
  }
}

.popImg{
  img{
    width: 360px;
  }
  :global{
    .ant-popover-inner-content{
      padding: 0px;
    }
    .ant-popover-arrow{
      display: none;
    }
    .ant-popover-inner{
      box-shadow: none;
    }
  }
}
.formLabel{
  textarea{
    resize: none;
  }
  :global{
    .ant-select-selection--multiple{
      max-height: 32px;
      overflow-y: scroll;
    }
  }
}
.submit{
  // width: 880px;
  height: 80px;
  background: #FAFAFA;
  border-radius: 1px;
  display: flex;
  // align-items: center;
  justify-content: center;
  padding-left: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  flex-direction: column;
  :global{
    .ant-form-item{
      margin-right: 0px;
    }
    .ant-btn-primary{
      margin-top: 4px;
    }
  }
}
