# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json
/package-lock
# /yarn.lock

# production
/costhtml

# misc
.DS_Store
/.vscode
/.idea
# .gitignore


# umi
.umi
.umi-production
