.formColumn{
  margin-top: 24px;
  margin-left: 4px;
  :global(.ant-form-item) {
    display: flex;
    flex-direction: column;
  }
}
.moneyList{
  display: flex;
  align-items: center;
}
.right{
  display: flex;
  align-items: center;
}
