.lefts{
  width: 104px;
  font-size:14px;
  font-weight:400;
  color:rgba(0,0,0,0.85);
  background:rgba(247,247,247,1);
}
.leftTl{
  width: 104px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  // width: 100%;
}
.active{
  font-weight: 600;
  background-color: #ffffff;
}
.classify{
  display: flex;
  height: 100%;
}
.content{
  :global(.ant-modal-body) {
    padding: 0;
  }
}

.pmc_form_user_selector{
  padding: 5px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  cursor: pointer;
}
.pmc_form_user_selector:focus {
  background-color: #f5f5f5;
}
.pmc_form_user_selector .placeholder {
  color: rgba(0,0,0,0.36);
  font-size: 14px;
  line-height: 22px;
}

.field{
  overflow-y: scroll;
  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}
.judgeType{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div{
    height: 137px;
    width: 325px;
    cursor: pointer;
    border-radius: 4px;
  }
  p{
    margin-bottom: 0px;
  }
}
.borrowType{
  background: url('../../../../assets/img/invoice.png') no-repeat center / 100%;
  box-shadow: 0 0 0 2px transparent inset;
  transition:all .4s ease;
  cursor: pointer;
  margin-left: 12px;
  &:hover{
    background-size: 120%;
    transform: translateY(-6px);
  }
}
.applyType{
  background: url('../../../../assets/img/apply.png') no-repeat center / 100%;
  box-shadow: 0 0 0 2px transparent inset;
  transition:all .4s ease;
  cursor: pointer;
  margin-right: 12px;
  &:hover{
    background-size: 120%;
    transform: translateY(-6px);
  }
}
.invoiceType{
  background: url('../../../../assets/img/borrow.png') no-repeat center / 100%;
  box-shadow: 0 0 0 2px transparent inset;
  transition:all .4s ease;
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 24px;
  &:hover{
    background-size: 120%;
    transform: translateY(-10px);
  }
}
.salaryType{
  background: url('../../../../assets/img/salary.png') no-repeat center / 100%;
  box-shadow: 0 0 0 2px transparent inset;
  transition:all .4s ease;
  cursor: pointer;
  margin-left: 12px;
  margin-bottom: 24px;
  &:hover{
    background-size: 120%;
    transform: translateY(-10px);
  }
}
.addSel{
  :global(.ant-select-dropdown-menu-item) {
    height: 50px;
    padding: 0 16px 0 16px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
      .editFlow{
        display: inline-block;
      }
    }
  }
}
.flowOption{
  .editFlow{
    display: none;
  }
  &:hover{
    .editFlow{
      display: inline-block!important;
    }
  }
}
