.header{
  height: 150px;
  background: url('../../../assets/img/wrbBg.png') bottom no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .wave-container{
    position: absolute;
    background-color: #ffffff!important;
    width: 100%;
    height: 150px;
  }
  p{
    margin-bottom: 0px;
  }
  .headerLeft{
    display: flex;
    margin-left: 32px;
    height: 72px;
    position: relative;
    z-index: 100;
    align-items: center;
  }

  .headerRight{
    height: 118px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
  }
  .headTag{
    height: 118px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    justify-content: center;
  }
  .hdLoan:hover{
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
  }
  .loan{
    color: rgba(255, 90, 95, 1);
  }
  .lines{
    width: 1px;
    height: 40px;
    display: block;
    background-color: rgba(233, 233, 233, 1);
    margin: 0 14px;
  }
  .cost{
    color: rgba(57, 123, 254, 1);
  }
  .caogao{
    color: rgba(255, 204, 12, 1);
  }
}
.bossHeader {
  height: 128px;
  position: relative;
  .headTag{
    height: 24px;
  }
  .headerRight{
    height: 24px;
    margin-top: -52px;
  }
  .lines{
    height: 24px;
  }
  .btns{
    position: absolute;
    right: 40px;
    top: 64px;
  }
}

// 广告的左侧操作栏
.headLeftC{
  background-color: #ffffff;
  height: 182px;
  border-radius: 4px;
  padding: 32px;
  flex: 1;
  min-width: 424px;
  .btns{
    margin-bottom: 24px;
  }
  .tags{
    height: 40px;
    background: #F7F8FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 12px;
    cursor: pointer;
    margin-right: 8px;
    width: 100%;
  }
  .iconfonts{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.85;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    :global(.iconfont){
      color: #ffffff;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
// 广告
.banner{
  width: 494px;
  height: 185px;
  border-radius: 4px;
  margin-left: 24px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.judgeType{
  display: flex;
  justify-content: center;
  div{
    width: 288px;
    height: 120px;
    cursor: pointer;
    padding-right: 24px;
    border-radius: 4px;
  }
  p{
    margin-bottom: 0px;
  }
  .boss{
    background: url('../../../assets/img/boss.png') no-repeat center / 100%;
    box-shadow: 0 0 0 2px transparent inset;
    transition:all .4s ease;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    &:hover{
      background-size: 120%;
      transform: translateY(-6px);
    }
  }
  .peoples{
    background: url('../../../assets/img/peoples.png') no-repeat center / 100%;
    box-shadow: 0 0 0 2px transparent inset;
    transition:all .4s ease;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    &:hover{
      background-size: 120%;
      transform: translateY(-6px);
    }
  }
}
