.header{
  height: 150px;
  background: url('../../../assets/img/wrbBg.png') bottom no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  p{
    margin-bottom: 0px;
  }
}
