.cnt_foot {
  margin-bottom: 8px;
}
.header {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  span {
    vertical-align: middle;
    font-weight: 500;
  }
}
.line {
  width: 4px;
  height: 16px;
  background: rgba(0, 199, 149, 1);
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
.desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
  margin-bottom: 24px;
  .modal_download {
    color: rgba(0, 199, 149, 1);
    line-height: 22px;
    margin-left: 2px;
    cursor: pointer;
    text-decoration: underline;
  }
}
.text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 24px;
  span{
    color: #00c795;
    cursor: pointer;
  }
}
.importBtn:first-of-type{
  margin-bottom: 16px;
}