.travel{
  :global{
    .ant-steps-item-icon{
      width: 28px;
      height: 28px;
      line-height: 28px;
    }
    .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail{
      padding: 28px 0 0px;
    }
  }
}
.first{
  margin-bottom: 60px;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
}
.popStyle{
  width: 300px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
  :global{
    .ant-popover-message{
      height: 319px;
      overflow-y: scroll;
      padding: 10px;
      border-bottom: 1px solid rgba(233, 233, 233, 1);
    }
    .ant-popover-inner-content{
      padding: 0;
    }
    .ant-popover-buttons{
      padding: 8px;
    }
    // .ant-tree li{
    //   display: flex;
    // }
    // .ant-tree li .ant-tree-node-content-wrapper{
    //   flex: 1;
    // }
  }
}
