.payContent{

  padding: 24px 32px;

  :global(.cnt-header .head_lf) {
    display: flex;
  }
  :global(.ant-form-item) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

}
.messageTop{
  width: 100%;
  padding: 10px 0px;
  border-radius: 4px;
  span{
    line-height: 1;
  }
}
