.left{
  flex: 1;
  min-width: 464px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  margin-right: 16px;
  .title{
    height: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 24px;
    display: flex;
    p{
      margin-left: 24px;
      cursor: pointer;
    }
    .active{
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      font-weight: 600;
    }
  }
  p{
    margin-bottom: 0;
  }
  :global(.ant-menu-horizontal) {
    line-height: 53px;
  }
  :global(.ant-menu-item){
    padding: 0;
    margin: 0 16px;
  }
  :global(.ant-form-inline .ant-form-item) {
    margin-right: 0px;
  }
}
 .top{
   display: flex;
   height: 56px;
   align-items: center;
   justify-content: space-between;
   padding: 0 32px;
   p{
     margin: 0;
     font-size: 16px;
     color: rgba(0,0,0,0.85);
     font-weight: 500;
   }
 }
.chart {
  width: 100%;
  height: 323px;
}
.leftTop{
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 0;
}
.leftMenu{
  font-size: 16px;
  color: rgba(0,0,0,0.36);
  margin-left: 32px;
  span{
    cursor: pointer;
    margin-right: 32px;
    position: relative;
    &::after{
      width: 96px;
      height: 2px;
      background: #00C795;
    }
    &:hover{
      color: #00C795;
    }
  }
}
.chart{
  .noData{
    width: 200px;
    height: 200px;
    border: 20px solid rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 44px;
    text-align: center;
    left: 50%;
    margin-left: -118px;
    border-radius: 50%;
    .noDataChild{
      width: 190px;
      height: 190px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p{
        margin-bottom: 0;
      }
    }
  }

}

.tooltip{
  min-width: 150px;
  // max-width: 250px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 0;
  .tooltipTit{
    font-size: 12px;
    font-family: HelveticaNeue;
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 4px;
    line-height: 20px;
  }
  .tooltipBall{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
  }
  .tooltipCont{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
  }
}

.link{
  width: 24px;
  height: 134px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  text-align: center;
  padding: 26px 4px;
  margin: 0 auto;
  position: absolute;
  right: 24px;
  top: 151px;
  cursor: pointer;
  span{
    line-height: 14px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.45);
    writing-mode: vertical-rl;
    text-align-last: justify;
    width: 12px;
    height: 84px;
  }
  &:hover{
    span{
      color: rgba(0, 199, 149, 1)!important;
    }
  }
}
.right{
  width: 420px;
  height: 396px;
  background: #FFFFFF;
  border-radius: 8px;
  .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 24px;
    .tLeft{
      height: 24px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      line-height: 24px;
      span{
        margin-left: 24px;
        display: inline-block;
      }
      .active{
        font-weight: 600;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .tRight{
      margin-right: 24px;
      span{
        width: 46px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        display: inline-block;
        border: 1px solid #E9E9E9;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.65);
        border-radius: 0px 3px 3px 0px;
      }
      span:first-child{
        border-right: none;
        border-radius: 3px 0px 0px 3px;
      }
      .active{
        border-color: #00C795;
        color: #fff;
        background-color: #00C795;
      }
    }
  }
  .contPro{
    width: 372px;
    height: 24px;
    background: #FFFBE6;
    border-radius: 12px;
    padding: 0 4px;
    margin-left: 24px;
    i{
      margin-left: 12px;
      color: #FAAD14;
      margin-right: 2px;
      display: inline-block;
      vertical-align: middle;
    }
    span{
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
      line-height: 16px;
    }
  }
  .list{
    margin: 0 24px;
    height: 280px;
    .hl{
      height: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;
      background: #FAFAFA;
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      span{
        padding: 0 13px;
        display: inline-block;
      }
      span:first-child{
        width: 138px;
      }
      span:nth-child(2){
        width: 138px;
      }
      span:nth-child(3){
        flex: 1;
      }
    }
  }
}
.bottomChart{
  margin: 16px;
  background: #fff;
  border-radius: 8px;
  height: 520px;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    .title{
      height: 24px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      line-height: 24px;
      span{
        margin-left: 24px;
        display: inline-block;
      }
      .active{
        font-weight: 600;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
}
