.left{
  flex: 1;
  min-width: 464px;
  margin-right: 24px;
  background-color: #fff;
  :global(.ant-menu-horizontal) {
    line-height: 56px;
  }
}
 .top{
   display: flex;
   height: 56px;
   align-items: center;
   justify-content: space-between;
   padding: 0 32px;
   p{
     margin: 0;
     font-size: 16px;
     color: rgba(0,0,0,0.85);
     font-weight: 500;
   }
 }
.chart {
  width: 100%;
  height: 383px;
}
