.price {
  display: flex;
  width: 100%;
  margin-left: 10px;
  line-height: 22px;
  .money {
    color: rgba(255, 90, 95, 1);
  }
}
// .modal_box {
//   font-family: PingFangSC-Regular, PingFang SC;
//   :global {
//     .ant-modal-header {
//       padding: 30px 32px 8px;
//       border-bottom: none;
//     }
//     .ant-modal-body {
//       padding: 0px 32px 24px;
//       .ant-btn {
//         border-radius: 2px !important;
//       }
//     }
//   }

//   .modal_top {
//     font-size: 14px;
//     color: rgba(0, 0, 0, 0.85);
//     line-height: 22px;
//     display: flex;
//     .modal_download {
//       color: rgba(0, 199, 149, 1);
//       line-height: 22px;
//       margin-left: 2px;
//       cursor: pointer;
//       text-decoration: underline;
//     }
//   }
//   .upload_box {
//     width: 760px;
//     height: 311px;
//     border-radius: 1px;
//     margin: 16px 0 24px;
//     // background-color: #fff;
//     // border: 1px solid red;
//     .import_box {
//       width: 760px;
//       height: 311px;
//       border-radius: 1px;
//       border: 1px dashed rgba(25, 31, 37, 0.12);
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       .import_top {
//         margin-top: 74px;
//         // display: flex;
//         // flex-direction: column;
//         // align-items: center;
//         // padding: 9px 0;
//         .img_box {
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           padding-bottom: 12px;
//           .img_style {
//             width: 56px;
//             height: 56px;
//             font-size: 56px;
//             color: rgba(0, 199, 149, 1);
//           }
//         }
//         // .img_style {
//         //   width: 56px;
//         //   height: 56px;
//         //   font-size: 56px;
//         // }
//         .file_name {
//           font-size: 12px;
//           color: rgba(0, 0, 0, 0.65);
//           line-height: 16px;
//         }
//       }
//       .import_btn {
//         margin-top: 60px;
//         display: flex;
//         justify-content: center;
//         .reset_btn {
//           margin-right: 8px;
//           border-radius: 2px;
//         }
//       }
//     }
//     :global {
//       .ant-upload-drag-icon {
//         margin-bottom: 0px !important;
//         font-family: PingFangSC-Regular, PingFang SC;
//       }
//       .anticon {
//         color: rgba(0, 199, 149, 1) !important;
//       }
//       .ant-upload-hint {
//         margin-bottom: 44px;
//       }
//       .ant-btn {
//         border-radius: 0;
//       }
//       .ant-upload-drag {
//         background-color: #fff;
//       }
//     }
//   }

//   .explain {
//     padding: 16px;
//     font-size: 14px;
//     color: rgba(0, 0, 0, 0.65);
//     line-height: 22px;
//     background: #fafafa;
//     border-radius: 1px;
//   }
//   .import_status {
//     background-color: #fff;
//     height: 447px;
//     .import_ing {
//       height: 100%;
//       padding: 0 264px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       .img_ing {
//         // padding: 0 7px;
//         margin-bottom: 41px;
//         img {
//           width: 78px;
//           height: 80px;
//         }
//       }
//     }
//     .import_end {
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       :global {
//         .ant-btn {
//           border-radius: 0;
//         }
//       }
//       .img_end {
//         width: 66px;
//         height: 66px;
//         border-radius: 50%;
//         i {
//           font-size: 66px;
//           line-height: 66px;
//         }
//         .icon_warn {
//           color: rgba(255, 159, 0, 1);
//         }
//         .icon_fail {
//           color: rgba(255, 90, 95, 1);
//         }
//         .icon_success {
//           color: rgba(0, 199, 149, 1);
//         }
//       }
//       .import_success {
//         font-size: 24px;
//         font-family: PingFangSC-Medium, PingFang SC;
//         font-weight: 600;
//         color: rgba(0, 0, 0, 0.85);
//         line-height: 32px;
//         margin: 15px 0 16px 0;
//       }
//       .result_text {
//         font-size: 14px;
//         font-family: PingFangSC-Regular, PingFang SC;
//         color: rgba(0, 0, 0, 0.45);
//         line-height: 22px;
//         margin-bottom: 32px;
//         span:nth-of-type(1) {
//           color: rgba(0, 199, 149, 1);
//         }
//         span:nth-of-type(2) {
//           color: rgba(255, 90, 95, 1);
//         }
//       }
//       .reset_btn {
//         margin-right: 16px;
//       }
//     }
//   }
// }
// .drag_box {
//   background-color: #fff;
//   .file_icon {
//     height: 40px;
//     font-size: 40px;
//     color: rgba(0, 199, 149, 1);
//   }
// }
// .popTitle {
//   font-size: 14px;
//   font-family: PingFangSC-Semibold, PingFang SC;
//   font-weight: 600;
//   color: rgba(0, 0, 0, 0.85);
//   line-height: 22px;
// }
// .popContent {
//   width: 213px;
//   font-size: 14px;
//   font-family: PingFangSC-Regular, PingFang SC;
//   color: rgba(0, 0, 0, 0.65);
//   line-height: 22px;
// }
