.price {
  display: flex;
  width: 100%;
  margin-left: 10px;
  line-height: 22px;
  .money {
    color: rgba(255, 90, 95, 1);
  }
}
.message{
  width: 100%;
  padding: 10px 16px;
  background: #FFF1F0;
  // border: 1px solid rgba(0, 199, 149, 0.15);
  border-radius: 4px;
  span{
    line-height: 1;
  }
  .link{
    color: #FF5A5F;
    text-decoration: underline;
    cursor: pointer;
  }
}
