@import 'common.scss';
:global {
  .ant-layout-sider {
    // max-width: 190px !important;
    // width: 190px !important;
    // min-width: 190px !important;
  }

  .app-table-responsive {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: auto;

    .ant-card-body {
      display: flex;
      flex-direction: column;
      flex: auto;
      padding: 0 !important;
      overflow: auto;

      .ant-table-wrapper {
        flex: auto;
        overflow: auto;
      }
    }
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    word-wrap: break-word;
    word-break: break-word;
  }
  .ant-select-dropdown{
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  }
  .ant-select-dropdown .ant-select-dropdown-menu-item{
    line-height: 32px;
  }
  .ant-select-dropdown .ant-select-dropdown-menu-item-selected{
    color:rgba(0, 0, 0, 0.85);
  }
.ant-menu.ant-menu-dark .ant-menu-item-selected,
 .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    @extend .sub-bg;
    font-weight: bold;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    // background-color: inherit !important;
  }
  .ant-layout {
    background-color: rgba(247, 248, 250, 1);
  }
  .ant-dropdown-menu{
    // padding: 10px 0!important;
    text-align: center!important;
    width: 128px;
    // height: 131px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .ant-dropdown-menu-item {
    padding: 0!important;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 0px 16px!important;
    height: 54px;
  }
  .ant-table-tbody > tr:hover td{
    background: #fafafa!important;
  }
  .ant-table-fixed .ant-table-row-hover{
    background: #fafafa!important;
  }
  .ant-table-content .ant-table-body .ant-table-row-hover{
    background: #fafafa!important;
  }
  .ant-table-scroll .ant-table-row-hover{
    background: #fafafa!important;
  }
  .ant-modal-body .ant-table-scroll .ant-table-row-hover{
    background: #fafafa!important;
  }
  .ant-table-fixed .ant-table-row-hover>td{
    background: #fafafa!important;
  }
  .formItem{
    .ant-form-item{
      margin-bottom: 20px;
    }
  }
  .formItems{
    .ant-form-item{
      margin-bottom: 8px;
    }
  }
  .ant-divider-horizontal{
    margin: 0;
  }
  .ant-dropdown-menu-item:hover {
    background: #fafafa!important;
  }
  // .ant-table table{
  //   text-align: center!important;
  // }
  // .ant-table-thead > tr > th:last-child{
  //   text-align: center!important;
  // }
  .fixCenter{
    text-align: center!important;
  }

  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #fafafa!important;
  }
  .ant-divider{
    background: rgba(0, 0, 0, 0.05)!important;
  }
  .moneyCol{
    text-align: right!important;
  }
  .moneyTagCol{
    text-align: right!important;
    .ant-table-header-column span{
      margin-right: 72px;
    }
  }

  .selectClass{
    .ant-select-dropdown-menu-item{
      padding: 12px!important;
    }
  }
  .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected{
    background-color: #fafafa!important;
  }
  .ant-select-tree li .ant-select-tree-node-content-wrapper:hover{
    background-color: #fafafa!important;
  }
  .ant-cascader-menu-item:hover{
    background-color: #fafafa!important;
  }
  .ant-table-body{
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
  .ant-tag{
    background:rgba(245,245,245,1);
  }
  .ant-dropdown .ant-table-filter-dropdown{
    .ant-dropdown-menu{
      // text-align: left!important;
      align-items: flex-start!important;
      padding: 4px 16px;
    }
  }
  .ant-table-placeholder {
    border-bottom: 0 !important;
  }
  .ant-dropdown-menu-item{
    line-height: 28px!important;
  }
  .titleMenu{
    border-bottom: none!important;
  }
  .titleMenu .ant-menu-item{
    padding: 0;
    margin-right: 42px;
    &:hover{
      color: rgba(0, 199, 149, 1)!important;
      .circle{
        background: rgba(0, 199, 149, 1)!important;
      }
    }
    .circle{
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      margin-right: 8px;
    }
    .active{
      background: rgba(0, 199, 149, 1)!important;
    }
  }

  .addWidth {
    :global(.invoiceFirst) {
      display: inline-block;
      min-width: 112px;
      margin-right: 8px;
      overflow: hidden;
    }
    :global(.invoiceSecond) {
      display: inline-block;
      width: 100%;
    }
  }
  .ant-table-tbody > tr > td.ant-table-column-sort{
    background: none!important;
  }
  .ant-table-thead > tr > th.ant-table-column-sort{
    background: #fafafa!important;
  }
}
