@charset "UTF-8";
:global {
  /*---------------颜色--------------------*/
  /*--------------字体颜色------------------*/
  /*----------------字体大小-----------------------*/
  /*------------------内边距--------------------------*/
  /*------------------外边距--------------------------*/
  /*------------------鼠标--------------------------*/
  /**-------------行间距----------------**/
  /*----------------底部--------------------*/
}

:global .delBtn {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.25);
}

:global .isFormRequired::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

:global .icons .iconmorenleibietu1 {
  color: #00c795 !important;
}

:global .icons .iconmorenleibietu2 {
  color: #6777ff !important;
}

:global .icons .iconmorenleibietu3 {
  color: #32c5ff !important;
}

:global .icons .iconmorenleibietu4 {
  color: #f7b500 !important;
}

:global .icons .iconxiajiang {
  color: #00C795;
  font-size: 20px;
}

:global .icons .iconshangsheng {
  color: #FF5A5F;
  font-size: 20px;
}

:global .sub-color {
  color: #00c795 !important;
}

:global .mainContainer {
  min-width: 1000px;
}

:global .is-disabled {
  background: #f5f5f5 !important;
  color: rgba(0, 0, 0, 0.25) !important;
  cursor: not-allowed !important;
}

:global .disabledColor {
  color: rgba(0, 0, 0, 0.25) !important;
  cursor: not-allowed !important;
}

:global .tableImage {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

:global .warn {
  color: #FF943E;
}

:global .ope-btn {
  color: rgba(52, 64, 162, 0.8);
}

:global .sub-bg, :global .ant-menu.ant-menu-dark .ant-menu-item-selected, :global .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #00c795 !important;
}

:global .green {
  color: #52c41a;
}

:global .font-color {
  color: rgba(0, 0, 0, 0.25);
}

:global .c-fff {
  color: #ffffff;
}

:global .border-color {
  color: #d8d8d8;
}

:global .f-c {
  color: white;
}

:global .f-c-85 {
  color: rgba(255, 255, 255, 0.65);
}

:global .f-c-cost {
  color: #faca4f;
}

:global .cnt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
  height: 32px;
}

:global .cnt-header .head_rg {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.36);
}

:global .cnt-header .head_rg :global(.ant-switch) {
  background-color: #00c795;
}

:global .cnt-header .head_lf {
  height: 32px;
}

:global .isRequired::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

:global .spanStyle {
  width: 150px;
  overflow: hidden;
  word-wrap: word-break;
  text-overflow: ellipsis;
  display: inline-block;
  max-height: 54px;
}

:global .errorColor {
  color: #FF5A5F;
}

:global .deleteColor {
  color: #fb602d;
  cursor: pointer;
}

:global .cl-tip {
  color: #f25643;
}

:global p {
  margin-bottom: 0;
}

:global ul {
  list-style-type: none;
}

:global .use_text {
  background-color: #3296fa !important;
}

:global .use_a {
  color: #3296fa !important;
}

:global .orange {
  color: #ff943e;
}

:global .green {
  color: #52c41a;
}

:global .deep_blue {
  color: #586C95;
}

:global .c-black-100 {
  color: black !important;
}

:global .c-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

:global .c-black-85 {
  color: rgba(0, 0, 0, 0.85) !important;
}

:global .c-black-65 {
  color: rgba(0, 0, 0, 0.65);
}

:global .c-black-35 {
  color: rgba(0, 0, 0, 0.35);
}

:global .c-black-25 {
  color: rgba(0, 0, 0, 0.25);
}

:global .c-black-15 {
  color: rgba(0, 0, 0, 0.15);
}

:global .c-black-36 {
  color: rgba(0, 0, 0, 0.36);
}

:global .c-black-45 {
  color: rgba(0, 0, 0, 0.45);
}

:global .fs-16 {
  font-size: 16px;
}

:global .fs-14 {
  font-size: 14px;
}

:global .fs-12 {
  font-size: 12px;
}

:global .fs-13 {
  font-size: 13px;
}

:global .fs-18 {
  font-size: 18px;
}

:global .fs-20 {
  font-size: 20px;
}

:global .fs-24 {
  font-size: 24px;
}

:global .fs-26 {
  font-size: 26px;
}

:global .fs-28 {
  font-size: 28px;
}

:global .fs-30 {
  font-size: 30px !important;
}

:global .fs-32 {
  font-size: 32px !important;
}

:global .fs-36 {
  font-size: 36px;
}

:global .fs-38 {
  font-size: 38px;
}

:global .fw-400 {
  font-weight: 400 !important;
}

:global .fw-600 {
  font-weight: 600;
}

:global .fw-500 {
  font-weight: 500;
}

:global .iconshangsheng {
  color: #FF5A5F;
}

:global .iconxiajiang {
  color: #00c795;
}

:global .p-t-10 {
  padding-top: 10px !important;
}

:global .p-t-24 {
  padding-top: 24px !important;
}

:global .p-t-20 {
  padding-top: 20px !important;
}

:global .p-b-15 {
  padding-bottom: 15px !important;
}

:global .p-b-24 {
  padding-bottom: 24px !important;
}

:global .p-l-32 {
  padding-left: 32px !important;
}

:global .p-l-28 {
  padding-left: 28px !important;
}

:global .m-t-0 {
  margin-top: 0px !important;
}

:global .m-t-2 {
  margin-top: 2px !important;
}

:global .m-t-8 {
  margin-top: 8px !important;
}

:global .m-t-10 {
  margin-top: 10px !important;
}

:global .m-t-34 {
  margin-top: 34px !important;
}

:global .m-t-13 {
  margin-top: 13px !important;
}

:global .m-t-16 {
  margin-top: 16px !important;
}

:global .m-t-18 {
  margin-top: 18px !important;
}

:global .m-t-24 {
  margin-top: 24px !important;
}

:global .m-t-32 {
  margin-top: 32px !important;
}

:global .m-t-40 {
  margin-top: 40px !important;
}

:global .m-l-8 {
  margin-left: 8px !important;
}

:global .m-l-4 {
  margin-left: 4px !important;
}

:global .m-l-10 {
  margin-left: 10px !important;
}

:global .m-l-12 {
  margin-left: 12px !important;
}

:global .m-l-32 {
  margin-left: 32px !important;
}

:global .m-r-8 {
  margin-right: 8px !important;
}

:global .m-r-72 {
  margin-right: 72px !important;
}

:global .m-t-80 {
  margin-top: 80px !important;
}

:global .m-l-16 {
  margin-left: 16px !important;
}

:global .m-l-20 {
  margin-left: 20px !important;
}

:global .m-l-23 {
  margin-left: 24px !important;
}

:global .m-l-24 {
  margin-left: 24px !important;
}

:global .m-b-16 {
  margin-bottom: 24px !important;
}

:global .m-b-0 {
  margin-bottom: 0px !important;
}

:global .m-b-2 {
  margin-bottom: 2px !important;
}

:global .m-b-6 {
  margin-bottom: 6px !important;
}

:global .m-b-8 {
  margin-bottom: 8px !important;
}

:global .m-b-10 {
  margin-bottom: 10px !important;
}

:global .m-b-12 {
  margin-bottom: 12px !important;
}

:global .m-b-13 {
  margin-bottom: 13px !important;
}

:global .m-b-15 {
  margin-bottom: 15px !important;
}

:global .m-b-17 {
  margin-bottom: 17px !important;
}

:global .m-b-18 {
  margin-bottom: 18px !important;
}

:global .m-b-20 {
  margin-bottom: 20px !important;
}

:global .m-b-22 {
  margin-bottom: 22px !important;
}

:global .m-b-24 {
  margin-bottom: 24px !important;
}

:global .m-b-28 {
  margin-bottom: 28px !important;
}

:global .m-b-32 {
  margin-bottom: 32px !important;
}

:global .m-b-40 {
  margin-bottom: 40px !important;
}

:global .m-b-47 {
  margin-bottom: 47px !important;
}

:global .m-r-10 {
  margin-right: 10px !important;
}

:global .m-r-12 {
  margin-right: 12px !important;
}

:global .m-r-15 {
  margin-right: 15px !important;
}

:global .m-r-16 {
  margin-right: 16px !important;
}

:global .m-r-24 {
  margin-right: 24px !important;
}

:global .m-r-30 {
  margin-right: 30px !important;
}

:global .m-r-32 {
  margin-right: 32px !important;
}

:global .m-r-3 {
  margin-right: 3px !important;
}

:global .m-r-4 {
  margin-right: 4px !important;
}

:global .cur-p {
  cursor: pointer;
}

:global .pd-20-9 {
  width: 128px;
  display: block;
  padding: 10px 9px;
}

:global .eslips-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

:global .eslips-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  white-space: nowrap;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

:global .li-22 {
  line-height: 22px;
}

:global .li-24 {
  line-height: 24px;
}

:global .li-28 {
  line-height: 28px;
}

:global .li-36 {
  line-height: 36px;
}

:global .li-1 {
  line-height: 1;
}

:global .link-c {
  color: rgba(52, 64, 162, 0.8);
}

:global .vt-m {
  display: inline-block;
  vertical-align: middle;
}

:global .vt-m-i {
  display: inline-block;
  vertical-align: middle !important;
}

:global .b-b-1 {
  border-bottom: 1px solid rgba(17, 31, 44, 0.12);
}

:global .t-l {
  text-align: left;
}

:global .table-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global .table-buttons a:last-child {
  margin-left: 10px;
}

:global .ant-tree li .ant-tree-node-content-wrapper:hover, :global .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #fafafa !important;
}

:global .ant-tree li .ant-tree-node-content-wrapper {
  height: 40px !important;
  line-height: 40px !important;
}

:global .ant-tree li span.ant-tree-switcher {
  line-height: 40px !important;
  height: 40px !important;
}

:global .ant-cascader-menu-item:hover {
  background-color: #fafafa !important;
}

:global .active-bg {
  background: rgba(0, 199, 149, 0.12);
}

:global .dis-inlineblock {
  display: inline-block;
}

:global .dis-none {
  display: none;
}

:global .ant-layout {
  background: #F7F8FA !important;
}

:global .ant-layout-sider .ant-menu-inline-collapsed {
  width: 64px !important;
}

:global .ant-layout-sider .ant-menu-inline-collapsed .ant-menu-item-selected {
  border-left: 4px solid #1aceb3 !important;
}

:global .ant-layout-sider .ant-menu-inline-collapsed .ant-menu-item {
  padding: 0 23px !important;
}

:global .ant-layout-sider .ant-menu-inline-collapsed .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 23px !important;
}

:global .ant-layout-sider .app-menu .ant-menu-item-selected {
  border-left: 4px solid #1aceb3 !important;
}

:global .ant-layout-sider .app-menu .ant-menu-item {
  line-height: 56px !important;
  height: 56px !important;
  margin: 0 !important;
}

:global .ant-layout-sider .app-menu .ant-menu-submenu .ant-menu-submenu-title {
  line-height: 56px !important;
  height: 56px !important;
  margin: 0 !important;
}

:global .ant-layout-sider .app-menu .ant-menu-submenu .ant-menu-sub .ant-menu-item {
  line-height: 44px !important;
  height: 44px !important;
}

:global .ant-layout-sider .app-menu .ant-menu-submenu-vertical .ant-menu-sub {
  background-color: #fff !important;
}

:global .app-table-responsive {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: auto;
}

:global .app-table-responsive .ant-card-body {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding: 0 !important;
  overflow: auto;
}

:global .app-table-responsive .ant-card-body .ant-table-wrapper {
  flex: auto;
  overflow: auto;
}

:global .ant-table-body {
  overflow-x: hidden !important;
}

:global .ant-table-body:hover {
  overflow-x: auto !important;
}

:global .ant-table-fixed-left, :global .ant-table-fixed-right {
  z-index: 10 !important;
}

:global .ant-table-thead > tr > th,
:global .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

:global .ant-select-dropdown {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

:global .ant-select-dropdown .ant-select-dropdown-menu-item {
  line-height: 32px;
}

:global .ant-select-dropdown .ant-select-dropdown-menu-item-selected {
  color: rgba(0, 0, 0, 0.85);
}

:global .ant-menu.ant-menu-dark .ant-menu-item-selected,
:global .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  font-weight: bold;
}

:global .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #1a1d25 !important;
}

:global .ant-layout {
  background-color: #f7f8fa;
}

:global .ant-dropdown-menu {
  text-align: center !important;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

:global .ant-dropdown-menu-item {
  padding: 0 !important;
}

:global .ant-table-thead > tr > th, :global .ant-table-tbody > tr > td {
  padding: 0px 16px !important;
  height: 54px;
}

:global tr.ant-table-expanded-row, :global tr.ant-table-expanded-row:hover {
  background: #fff !important;
}

:global .ant-table-tbody > tr:hover td {
  background: #fafafa !important;
}

:global .ant-table-fixed .ant-table-row-hover {
  background: #fafafa !important;
}

:global .ant-table-content .ant-table-body .ant-table-row-hover {
  background: #fafafa !important;
}

:global .ant-table-scroll .ant-table-row-hover {
  background: #fafafa !important;
}

:global .ant-table-scroll .ant-table-row-hover {
  background: #fafafa !important;
}

:global .ant-modal-body {
  height: 445px;
  padding: 0 !important;
}

:global .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

:global .ant-table-fixed .ant-table-row-hover > td {
  background: #fafafa !important;
}

:global .formItem .ant-form-item {
  margin-bottom: 16px;
}

:global .formItems .ant-form-item {
  margin-bottom: 8px;
}

:global .ant-table-small {
  border: none !important;
  border-top: 1px solid #e8e8e8 !important;
  border-bottom: 1px solid #e8e8e8 !important;
}

:global .ant-menu-dark, :global .ant-menu-dark .ant-menu-sub {
  background: #252834 !important;
  box-sizing: border-box;
}

:global .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  box-shadow: none !important;
}

:global .ant-divider-horizontal {
  margin: 0;
}

:global .ant-dropdown-menu-item:hover {
  background: #fafafa !important;
}

:global .fixCenter {
  text-align: center !important;
}

:global .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #fafafa !important;
}

:global .ant-divider {
  background: rgba(0, 0, 0, 0.05) !important;
}

:global .moneyCol {
  text-align: right !important;
}

:global .moneyTagCol {
  text-align: right !important;
}

:global .moneyTagCol .ant-table-header-column span {
  margin-right: 72px;
}

:global .selectClass .ant-select-dropdown-menu-item {
  padding: 12px !important;
}

:global .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: #fafafa !important;
}

:global .ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
  background-color: #fafafa !important;
}

:global .ant-cascader-menu-item:hover {
  background-color: #fafafa !important;
}

:global .ant-tag {
  background: whitesmoke;
}

:global .ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu {
  align-items: flex-start !important;
  padding: 4px 16px;
}

:global .ant-table-placeholder {
  border-bottom: 0 !important;
}

:global .ant-dropdown-menu-item {
  line-height: 28px !important;
}

:global .titleMenu {
  border-bottom: none !important;
}

:global .titleMenu .ant-menu-item {
  padding: 0;
  margin-right: 42px;
}

:global .titleMenu .ant-menu-item:hover {
  color: #00c795 !important;
}

:global .titleMenu .ant-menu-item:hover .circle {
  background: #00c795 !important;
}

:global .titleMenu .ant-menu-item .circle {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-right: 8px;
}

:global .titleMenu .ant-menu-item .active {
  background: #00c795 !important;
}

:global .addWidth :global(.invoiceFirst) {
  display: inline-block;
  min-width: 112px;
  margin-right: 8px;
  overflow: hidden;
}

:global .addWidth :global(.invoiceSecond) {
  display: inline-block;
  width: 100%;
}

:global .ant-table-tbody > tr > td.ant-table-column-sort {
  background: none !important;
}

:global .ant-table-thead > tr > th.ant-table-column-sort {
  background: #fafafa !important;
}

:global .ant-menu-horizontal > .ant-menu-item-active, :global .ant-menu-horizontal > .ant-menu-item-selected {
  z-index: 10;
}
