:global{
  .sub-color {
    color: rgba(0, 199, 149, 1)!important;
  }

  .sub-bg {
    background-color: rgba(0, 199, 149, 1)!important;
  }

  .green{
    color: #52c41a;
  }

  .font-color{
    color: rgba(0, 0, 0, 0.25);
  }
  .c-fff {
    color: #ffffff;
  }
  .border-color {
    color: rgba(216,216,216,1);
  }
  .f-c{
    color: rgba(255, 255, 255, 1);
  }
  .f-c-85{
    color: rgba(255, 255, 255, 0.65);
  }
  .f-c-cost{
    color: rgba(250, 202, 79, 1);
  }
  .cnt-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 32px;
    .head_rg{
      font-size:14px;
      font-weight:400;
      color:rgba(0,0,0,0.36);
    }
    .head_lf{
      height: 32px;
    }
  }
  .deleteColor{
    color: rgba(251, 96, 45, 1);
    cursor: pointer;
  }
  .cl-tip{
    color: rgba(242, 86, 67, 1);
  }
  p{
    margin-bottom: 0;
  }
  ul{
    list-style-type: none;
  }
  .use_text{
    background-color: #3296fa!important;
  }
  .use_a{
    color: rgba(50, 150, 250, 1)!important;
  }
  /*---------------颜色--------------------*/
  .orange {
    color: #ff943e;
  }
  .green {
    color: #52c41a;
  }
  .deep_blue {
    color: #586C95;
  }
  /*--------------字体颜色------------------*/
  .c-black-85{
    color: rgba(0,0,0,0.85)!important;
  }
  .c-black-65{
    color: rgba(0,0,0,0.65);
  }
  .c-black-35{
    color: rgba(0,0,0,0.35);
  }
  .c-black-25{
    color: rgba(0,0,0,0.25);
  }
  .c-black-36{
    color: rgba(0,0,0,0.36);
  }
  .c-black-45{
    color: rgba(0,0,0,0.45);
  }
  /*----------------字体大小-----------------------*/
  .fs-16{
    font-size: 16px;
  }
  .fs-14{
    font-size: 14px;
  }
  .fs-12{
    font-size: 12px;
  }
  .fs-13{
    font-size: 13px;
  }
  .fs-20{
    font-size: 20px;
  }
  .fs-24{
    font-size: 24px;
  }
  .fs-26{
    font-size: 26px;
  }
  .fs-28{
    font-size: 28px;
  }
  .fs-32{
    font-size: 32px!important;
  }

  .fw-400 {
    font-weight: 400!important;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-500 {
    font-weight: 500;
  }
  /*------------------内边距--------------------------*/
  .p-t-10{padding-top:10px !important;}
  .p-t-24{padding-top:24px !important;}
  .p-b-15{padding-bottom:15px !important;}
  .p-b-24{padding-bottom:24px !important;}
  .p-l-32{padding-left:32px !important;}
  /*------------------外边距--------------------------*/
  .m-t-8{margin-top:8px !important;}
  .m-t-34{margin-top:34px !important;}
  .m-t-13{margin-top:13px !important;}
  .m-t-16{margin-top:16px !important;}
  .m-t-24{margin-top:24px !important;}
  .m-t-40{margin-top:40px !important;}
  .m-l-8{margin-left:8px !important;}
  .m-l-32{margin-left:32px !important;}
  .m-r-8{margin-right:8px !important;}
  .m-l-16{margin-left:16px !important;}
  .m-l-20{margin-left:20px !important;}
  .m-l-24{margin-left:24px !important;}
  .m-b-16{margin-bottom:16px !important;}
  .m-b-2{margin-bottom:2px !important;}
  .m-b-8{margin-bottom:8px !important;}
  .m-b-10{margin-bottom:10px !important;}
  .m-b-12{margin-bottom:12px !important;}
  .m-b-13{margin-bottom:13px !important;}
  .m-b-15{margin-bottom:15px !important;}
  .m-b-17{margin-bottom:17px !important;}
  .m-b-18{margin-bottom:18px !important;}
  .m-b-24{margin-bottom:24px !important;}
  .m-b-28{margin-bottom:28px !important;}
  .m-b-32{margin-bottom:32px !important;}
  .m-r-15{margin-right:15px !important;}
  .m-r-16{margin-right:16px !important;}
  .m-r-30{margin-right:30px !important;}
  .m-r-32{margin-right:32px !important;}
  .m-r-3{margin-right:3px !important;}
  /*------------------鼠标--------------------------*/
  .cur-p{
    cursor: pointer;
  }
  .pd-20-9{
    width: 128px;
    display: block;
    padding: 10px 9px;
  }

  .eslips-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
  }

  .eslips-1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    white-space: nowrap;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
  }
  /**-------------行间距----------------**/
  .li-22{
    line-height: 22px;
  }
  .li-24{
    line-height: 24px;
  }
  .li-1{
    line-height: 1;
  }
  .link-c{
    color: rgba(52, 64, 162, 0.8);
  }
  .vt-m{
    display: inline-block;
    vertical-align: middle;
  }
  /*----------------底部--------------------*/
  .b-b-1{
    border-bottom: 1px solid rgba(17, 31, 44, 0.12);
  }
  .t-l{
    text-align: left;
  }
  .table-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    a:last-child{
      margin-left: 10px;
    }
  }

  .ant-tree li .ant-tree-node-content-wrapper:hover, .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #fafafa!important;
  }
  .ant-tree li .ant-tree-node-content-wrapper {
    height: 40px!important;
    line-height: 40px!important;
  }
  .ant-tree li span.ant-tree-switcher {
    line-height: 40px!important;
    height: 40px!important;
  }
  .ant-cascader-menu-item:hover {
    background-color: #fafafa!important;
  }
}
