:global {
  .app-menu {
    flex: 1;
    overflow: auto;
    // padding: 16px 0 !important;
    user-select: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .app-content {
    display: flex;
    flex-direction: column;
    position: relative;
    // margin: 24px;
    width: 100%;
    height: 100%;
    overflow: auto;
    // background-color: #fff;
    // ::-webkit-scrollbar{
    //   display: none;
    // }
  }

  .app-body {
    border-radius: 2px;
    background: #fff;
  }
  .content-dt{
    background: #ffff;
    height: 100%;
    padding: 24px;
    margin: 16px;
    border-radius:2px;
    overflow-y: scroll;
    min-width: 952px;
  }
  .content-add{
    min-width: 1088px;
    overflow-y: unset;
    background: #f7f8fa;
    padding: 24px 8px 24px 24px;
    margin:0;
    .cnt-header{
      margin-bottom: 0;
    }
  }
  .app_header {
    height: 106px;
    background: #fff;
    min-width: 1100px;
  }
  .app_header_title{
    margin-left: 32px;
    padding-top: 24px;
    font-size:20px;
    color:rgba(0,0,0,0.85);
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .app_header_line{
    margin-left: 32px;
    padding-top: 8px;
    font-weight:400;
    color:rgba(0,0,0,0.65);
    font-size: 14px;
  }

  .table-minus{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 17px;
    height: 17px;
    color: inherit;
    line-height: 13px;
    text-align: center;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    &::after{
      content: '-';
    }
    &:hover{
      border: 1px solid #22d4a1;
    }
  }
  .table-plus{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 17px;
    height: 17px;
    color: inherit;
    line-height: 13px;
    text-align: center;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    &::after{
      content: '+';
    }
    &:hover{
      border: 1px solid #22d4a1;
    }
  }
}

// ::-webkit-scrollbar{
//   width: 5px;
//   height: 5px;
// }
// ::-webkit-scrollbar-thumb{
//   border-radius: 1em;
//   background-color: rgba(50,50,50,.3);
// }
// ::-webkit-scrollbar-track{
//   border-radius: 1em;
//   background-color: rgba(50,50,50,.1);
// }
