.details{
  min-height: 116px;
  // width: 100%;
  margin: 0 24px;
  background: #ffffff;
  display: flex;
  position: relative;
  cursor: move;
  p{
    margin-bottom: 0;
  }
  .inputs{
    // width: 100%;
    height: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    max-width: 480px;
    min-width: 280px;
    margin-bottom: 16px;
  }
  &:hover{
    background: #FAFBFB;

  }
  .lines{
    width: 4px;
    min-height: 116px;
    margin-bottom: 0;
    background: #00C795;
  }
  .linesD{
    width: 4px;
    height: 116px;
    margin-bottom: 0;
  }
}
.detailBottom{
  p{
    margin-bottom: 16px;
  }
  .StrTemplates{
    background: inherit;
  }
}

.StrTemplates{
  min-height: 116px;
  // width: 100%;
  margin: 0 24px;
  background: inherit;
  display: flex;
  position: relative;
  cursor: move;
  .inputs{
    // width: 100%;
    height: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    max-width: 480px;
    min-width: 280px;
  }
  .dateType{
    max-width: 480px;
    min-width: 280px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 12px;
    display: flex;
    // justify-content: center;
    line-height: 30px;
  }
  .images{
    width: 48px;
    border-radius: 2px;
    height: 48px;
    background: rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lines{
    width: 4px;
    min-height: 116px;
    margin-bottom: 0;
    background: #00C795;
  }
  .linesD{
    width: 4px;
    height: 116px;
    margin-bottom: 0;
  }
  .tmpCnt{
    padding-top: 16px;
    margin-right: 24px;
    flex: 1;
    margin-left: 6px;
  }
  .required{
    padding: 16px 0 16px 6px;
    display: block;
    color: rgba(255, 90, 95, 1);
    line-height: 22px;
  }
  .requireds{
    padding: 16px 0 16px 6px;
    display: block;
    color: #fff;
    line-height: 22px;
  }
  .operator{
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    .delete{
      width: 24px;
      height: 24px;
      display: none;
      background: rgba(255, 90, 95, 1);
      border-radius: 4px;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      :global(.iconfont){
        color: #ffffff;
      }
    }
    .drag{
      background: rgba(0, 199, 149, 1);
      cursor: move;
    }
  }
  &:hover{
    background: #FAFBFB;
    // opacity: 0.3;
    .linesD{
      display: inline-block;
      // background: #00C795;
    }
    .delete{
      display: block;
    }
    .childStr:hover{
      background-color: #fff;
    }
  }
  .opacity{
    opacity: 0.3;
    cursor: default!important;
  }
}
.proCenter{
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: rgba(0,0,0,0.25);
  font-size: 14px;
}

.activeStr {
  background: #FAFBFB;
}
