.cardContent:hover {
  box-shadow: 0px 10px 32px 0px rgba(157, 163, 180, 0.2);
  border-radius: 2px;
}

.cardContent :global .ant-card-body {
  padding: 17px 30px 37px 24px;
}

.cardContent :global .ant-tag {
  text-align: center;
  height: 22px;
  line-height: 24px;
  border: 0;
  margin-left: 8px;
  border-radius: 4px;
}

.cardContent :global .anticon-line {
  transform: rotateZ(90deg);
}

.cardContent .accountType {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContent .accountType i {
  color: rgba(0, 0, 0, 0.85);
  margin: 0 5px 5px 0;
  font-size: 17.5px;
}

.cardContent .accountType .caozuo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 2px;
}

.cardContent .accountType .caozuo .content {
  visibility: hidden;
  position: absolute;
  top: 34px;
  right: 0px;
  width: 88px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(47, 83, 151, 0.1);
  border-radius: 2px;
  margin-left: 0 !important;
}

.cardContent .accountType .caozuo .content dt {
  flex: 1;
  text-align: center;
  width: 100%;
  line-height: 40px;
  cursor: pointer;
}

.cardContent .accountType .caozuo .content dt:hover {
  background: #f8f8f8;
}

.cardContent .accountType .caozuo:hover {
  background: #F8F8F8;
}

.cardContent .accountType .caozuo:hover .content {
  visibility: visible;
}

.cardContent .account, .cardContent .bankNameBranch {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  margin-left: 10px;
}

.cardContent .name {
  display: inline-block;
  max-width: 294px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
}

.cardContent .note {
  display: inline-block;
  max-width: 294px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
