.cardContent:hover {
  box-shadow: 0px 10px 32px 0px rgba(157, 163, 180, 0.2);
  border-radius: 2px;
}

.cardContent:nth-child(3n) {
  margin: 0px 16px calc(4.3% / 2) 0 !important;
}

.cardContent {
  //margin: 0px 1.4% 1.4% 0;
  //flex: 3;
  margin: 0px 0px calc(4.3%/ 2) 0;
  width: 31.5%;
  height: auto;
  background-color: #fff;
  :global {
    .ant-card-body {
      padding: 17px 24px 0 24px;
    }

    .ant-tag {
      text-align: center;
      height: 22px;
      line-height: 24px;
      border: 0;
      margin-left: 8px;
          margin-right:0!important;
          border-radius: 4px;
      }
      .ant-tag-blue{
        color:rgba(3, 122, 254, 1)
      }
      .ant-tag-has-color{
        color:rgba(0, 0, 0, 0.65);
      }
      .ant-tag-cyan{
        color:rgba(0, 199, 149, 1);
      }
      .anticon-line{
        transform:rotateZ(90deg);
      }
     }
     .accountType{
       display:flex;
       justify-content: space-between;
       align-items: center;
       i{
        color: rgba(0, 0, 0, 0.85);
        margin:0 5px 5px 0;
        font-size: 17.5px;
       }
       .caozuo{
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 32px;
         height: 32px;
         border-radius: 2px;
         i{
          margin:0!important;
         }
         .content{
          visibility: hidden;
          position:absolute;
          top: 32px;
          right:-24px;
          width: 88px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          line-height: 20px;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.65);;
          background: #FFFFFF;
          box-shadow: 0px 8px 16px 0px rgba(47, 83, 151, 0.1);
          border-radius: 2px;
          margin-left: 0!important;
          dt{
            flex: 1;
            text-align: center;
            width: 100%;
            line-height: 40px;
            cursor: pointer;
            span{
              display: inline-block;
              width: 100%;
            }
          }
          dt:hover{
            background: rgba(248, 248, 248, 1);
          }
         }
       }
       .caozuo:hover{
        background: #F8F8F8;
        .content{
          visibility:visible;
        }
       }
     }
     .account,.bankNameBranch{
      color:rgba(0, 0, 0, 0.85);
      font-size :14px;
      margin-left:10px;
     }
     .bank{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
     }
    .name{
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      height: 28px;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.85);
    }

  .note {
    display: inline-block;
    max-width: 294px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .balance {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px 0;
    margin-top: 17px;

    .balanceText {
      height: 24px;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      line-height: 24px;
      margin-right: 8px;
    }

    .balanceNum {
      height: 24px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 24px;
    }
  }
}
