.payContent{

  padding: 24px 32px;

  :global(.cnt-header .head_lf) {
    display: flex;
  }
  :global(.ant-form-item) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

}
.production{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background: #FFFBE6;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  margin: 16px 32px;
  padding: 0 16px;
  .texts{
    i {
      color: rgba(250, 173, 20, 1);
      font-size: 20px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }
}
.noPadding{
  padding-top: 0;
}
.titleMenu{
  padding-left: 8px;
  background: #fff;
  :global{
    .ant-menu-horizontal{
      border-bottom: none;
      height: 58px;
    }
    .ant-menu-item{
      padding: 0;
      margin: 10px 24px 0;
    }
  }
}
.mask{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  position: absolute;
  img{
    width: 300px;
    margin-left: 170px;
    margin-top: 8px;
    cursor: pointer;
  }
}

.caogao{
  color: #ffcc0c;
}
.caogaox{
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
