.xfw-products-modal {
  .xfw-products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .xfw-products-title {
      margin: 0 auto 50px;
      width: 326px;
    }
    .xfw-products-wrap {
      display: flex;
      justify-content: space-between;
      font-size: 0;
      flex-wrap: wrap;
      max-height: 393px;
      .xfw-products-item {
        margin-bottom: 20px;
        width: 304px;
        height: 111px;
        box-shadow: 0px 10px 26px 0px rgba(4, 73, 162, 0.06);
        border-radius: 8px;
        cursor: pointer;
        &:nth-child(odd) {
          margin-right: 20px;
        }
      }
    }
  }
}
