.lefts{
  width: 104px;
  font-size:14px;
  font-weight:400;
  color:rgba(0,0,0,0.85);
  background:rgba(247,247,247,1);
}
.leftTl{
  width: 104px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  // width: 100%;
}
.active{
  font-weight: 600;
  background-color: #ffffff;
}
.classify{
  display: flex;
  height: 100%;
}
.content{
  :global(.ant-modal-body) {
    padding: 0;
  }
}
.iconList{
  width:40px;
  height:40px;
  border-radius:4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-right: 8px;
  :global(.iconfont){
    font-size: 30px;
  }
}
.iconMap{
  display: flex;
}
.checked{
  position: absolute;
  bottom: 1px;
  right: 1px;
  width:16px;
  height:16px;
  background:rgba(0,199,149,1);
  border-radius:2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activeIcon{
  border:1px solid rgba(0,199,149,1)!important;
}
.iconList:hover{
  border:1px solid rgba(217,217,217,1);
}

.field{
  overflow-y: scroll;
  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}

.judgeType{
  display: flex;
  justify-content: center;
  div{
    height: 224px;
    width: 208px;
    cursor: pointer;
    padding-right: 24px;
    border-radius: 4px;
  }
  p{
    margin-bottom: 0px;
  }
  .cost{
    background: url('../../../../assets/img/cost.png') no-repeat center / 100%;
    box-shadow: 0 0 0 2px transparent inset;
    transition:all .4s ease;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    &:hover{
      background-size: 120%;
      transform: translateY(-6px);
    }
  }
  .chengben{
    background: url('../../../../assets/img/chengben.png') no-repeat center / 100%;
    box-shadow: 0 0 0 2px transparent inset;
    transition:all .4s ease;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    &:hover{
      background-size: 120%;
      transform: translateY(-6px);
    }
  }
}

