.content{
  // width: 384px;
  // height: 224px;
  padding: 24px 100px 24px 32px;
  background: #ffffff;
  margin: 24px;
  position: relative;
  border-radius: 4px;
  .switch{
    position: absolute;
    top: 50%;
    right: 100px;
    margin-top: -11px;
  }
  p{
    margin-bottom: 0px;
  }
  .production{
    font-size: 14px;
    line-height: 22px;
    color: rgba(0,0,0,0.45);
    margin-bottom: 8px;
    margin-top: 6px;
  }
  .label{
    display: flex;
    .lables{
      display: flex;
      align-items: center;
      margin-right: 32px;
      span{
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
      }
      .circle{
        width: 8px;
        height: 8px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        display: block;
        margin-right: 7px;
      }
      .active{
        background: #00c795;
      }
    }

  }
}
.modalInfo{
  :global(.ant-modal-header) {
    border: none;
  }
  :global(.ant-modal-footer) {
    border: none;
  }
}

