.content{
  display: flex;
  // align-items: center;
  margin-bottom: 24px;
  p{
    color: #191F25;
    display: inline-block;
    width: 150px;
    height: 22px;
    text-align: right;
  }
  i{
    font-size: 14px;
    color: rgba(0,0,0,0.45);
    margin: 0 4px;
  }
  .switch{
    height: 24px;
  }
  .production{
    font-size: 14px;
    line-height: 22px;
    color: rgba(0,0,0,0.45);
    margin-bottom: 8px;
    margin-top: 6px;
  }
  .label{
    display: flex;
    .lables{
      display: flex;
      align-items: center;
      margin-right: 32px;
      span{
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
      }
      .circle{
        width: 8px;
        height: 8px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        display: block;
        margin-right: 7px;
      }
      .active{
        background: #00c795;
      }
    }
  }
  .payList{
    width: 264px;
    height: 88px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    p{
      text-align: left;
      width: 180px;
    }
    .pros{
      color: rgba(0,0,0,0.45);
      font-size: 12px;
    }
    .rightP{
      width: 180px;
    }
  }
  .payList.active{
    border: 1px solid #00c795;
    position: relative;
    &::after{
      content: '';
      width: 6px;
      height: 12px;
      position: absolute;
      right: 4px;
      top: 0px;
      border: 2px solid #fff;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);

    }
    &::before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      border: 8px solid #00C795;
      border-radius: 0px 4px 0px 4px;
    }
  }

  .payImg{
    width: 44px;
    height: 44px;
    background: #ECF7FF;
    border-radius: 22px;
    margin-right: 12px;
    margin-left: 14px;
    text-align: center;
    line-height: 44px;
    i{
      color: #0084FF;
      font-size: 22px;
    }
  }
}
.modalInfo{
  :global(.ant-modal-header) {
    border: none;
  }
  :global(.ant-modal-footer) {
    border: none;
  }
}

.datas{
  width: 308px;
  display: inline-block;
  background: #FFFBE6;
  border-radius: 20px 20px 20px 0px;
  padding: 5px 12px;
  font-size: 12px;
  margin-left: 8px;
  span{
    color: rgba(0, 0, 0, 0.45);
    line-height: 20px;
  }
  i{
    color: #FAAD14;
    vertical-align: middle;
    margin-right: 8px;
  }
}
