.header{
  color: rgba(0, 0, 0, 0.85);
  font-size:16px;
  span{
    vertical-align: middle;
    font-weight:500;
  }
}
.line{
  width:4px;
  height:16px;
  background:rgba(0,199,149,1);
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

.nameTil{
  // width: 98px;
  text-align: left;
  display: inline-block;
}
.share_cnt{
  padding: 4px 0;
  p{
    margin-bottom: 0;
  }
}
.imgUrl{
  display: flex;
  align-items: center;
  // overflow-x: scroll;
}
.imgUrlScroll{
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.file{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.files {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  img{
    height: 20px;
    // width: 16px;
    margin-right: 8px;
  }
  p{
    word-break: break-all;
  }
}
.file p{
  color: rgba(52, 64, 162, 0.8);
}
.images{
  width: 40px;
  height: 40px;
  border-radius:4px;
  border:1px solid rgba(0,0,0,0.1);
}
.wraps{
  flex-wrap: wrap;
}
.tags{
  display: inline-block;
  height:24px;
  font-size: 12px;
  line-height: 24px;
  padding: 0 10px;
  border-radius:2px;
  border:1px solid rgba(25,31,37,0.08);
  color: rgba(25,31,37,0.56);
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.rightFlex{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.icons{
  :global{
    .iconmorenleibietu1:before{
      color: rgba(0, 199, 149, 1)!important;
    }
    .iconmorenleibietu2:before{
      color: rgba(103, 119, 255, 1)!important;
    }
    .iconmorenleibietu3:before{
      color: rgba(50, 197, 255, 1)!important;
    }
    .iconmorenleibietu4:before{
      color: rgba(247, 181, 0, 1)!important;
    }
  }
}
.tagsIndex{
  width: 66px;
  height: 22px;
  background: #F5F5F5;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  line-height: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.singleContent{
  width: 290px;
  height: 88px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  margin-right: 16px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
  .iconImg{
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 12px;
    img{
      width: 100%;
      height: auto;
    }
  }
}
.aliLink{
  display: flex;
  height: 72px;
  background: #fafafa;
  border-radius: 6px;
  padding: 0 32px 0 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  .logos{
    img{
      width: 24px;
      height: auto;
      margin-right: 12px;
    }
  }
  :global{
    .ant-btn-primary[disabled]{
      background: rgba(0, 0, 0, 0.25);
      color: #fff;
      border: none;
    }
    .ant-btn{
      width: 98px;
    }
  }
}
.modalBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btnIcon{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  .btnIcon i{
    margin-left: 28px;
    cursor: pointer;
    font-size: 24px;
  }
  // .btnIcon i:hover{
  //   color: rgba(0, 0, 0, 0.65);
  // }
}
