.app_header{
  padding: 24px 32px;
  background: #ffffff;
  min-width: 1100px;
}
.formItem{
  margin-bottom: 24px;
  label{
    display: inline-block;
    width: 84px;
    height: 22px;
    font-size: 14px;
    text-align: right;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
  }
  :global{
    .ant-select-selection--single{
      line-height: 32px;
    }
  }
}
