.modals {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: url("@/assets/img/upgradePopup.png") no-repeat;
  background-size: cover;
  border-radius: 0 0 2px 2px !important;
}

.modals .update {
  position: absolute;
  left: 240px;
  bottom: 32px;
  width: 200px;
  height: 44px;
  border-radius: 22px;
  background-color: transparent;
  cursor: pointer;
}

.codeBtn {
  width: 103px;
  height: 32px;
  background: url("../../../assets/img/Rectangle.png") no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  margin-bottom: 30px;
  cursor: pointer;
}
