.node_box {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    .branch-warp {
      display: inline-flex;
      .branch-box-wrap {
        display: flex;
        box-orient: vertical;
        box-direction: normal;
        box-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex-shrink: 0;
      }
      .branch-box {
        display: flex;
        border-top: 2px solid #cacaca;
        border-bottom: 2px solid #cacaca;
        height: auto;
        position: relative;
        margin-top: 15px;
        .condition-node {
          padding: 40px 20px 0;
        }
        .condition-btn {
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 15px;
          border: none;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
          color: #3296fa;
          background-color: #fff;
          z-index: 100;
        }
        .col-box {
          background-color: #fff;
          position: relative;
          &::before {
            content: '';
            display: block;
            background-color: #cacaca;
            width: 2px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
          .top-left-cover-line,
          .top-right-cover-line {
            position: absolute;
            top: -2px;
            width: 50%;
            height: 3px;
            background-color: #fff;
          }
          .top-right-cover-line {
            right: -1px;
          }
          .bottom-left-cover-line,
          .bottom-right-cover-line {
            position: absolute;
            bottom: -2px;
            width: 50%;
            height: 3px;
            background-color: #fff;
          }
          .bottom-right-cover-line {
            right: -1px;
          }
        }
      }
    }
  }